
:root {
  --main-background: rgba(0, 0, 0, 0.5);
  --main-color: #fdff73;
}
body {
  font-family: "Open Sans", sans-serif;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;

}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}



.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar .nav-link {
  color: white;
  font-size: 20px;
}
.navbar .nav-link.active {
  color: var(--main-color);
}
.navbar .nav-link:hover {
  color: #fdff73;
}
.header {
  padding-bottom: 700px;
  background-image: url(../imags/image-01.jpg);
  background-size: cover;
}
.header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 80px;
  font-weight: bold;
}
.header p {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 30px;
}
@media (max-width: 767px) {
  .header p {
    top: 75%;
    left: 58%;
    margin: -27px;
    
  }
}

.our {
  padding-bottom: 700px;
  background-image: url(../imags/image-03.jpg);
  background-size: cover;
}
.our .text {
  text-align: left;
  background-color: hsl(0deg 0% 1% / 50%);
  width: 459px;
  height: 700px;
  left: 95px;
  position: absolute;
  padding: 15px;
}
@media (max-width: 767px) {
  .our .text {
    background-color: hsl(0deg 0% 1% / 50%);
    width: 401px;
    height: 700px;
    left: 1px;
    position: absolute;
    padding: -13px;
    text-align: center;
  }
}


.our .text h2 {
  font-size: 35px;
  padding: 10px;
  margin-top: 17px;
  color: var(--main-color);
}
.our .text p {
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 35px;
  color: white;
  font-size: 22px;
}
@media (max-width:767px) {
  .our .text p{
    padding-right: 23px;
  }
  
}
.about {
  padding-bottom: 700px;
  background-image: url(../imags/image-04.jpg);
  background-size: cover;
}
.about .text {
  text-align: left;
  background-color: hsl(0deg 0% 1% / 50%);
  width: 459px;
  height: 700px;
  right: 95px;
  position: absolute;
  padding: 15px;
}
@media (max-width: 767px) {
  .about .text {
    background-color: hsl(0deg 0% 1% / 50%);
    width: 401px;
    height: 700px;
    right: 1px;
    position: absolute;
    padding: -13px;
    text-align: center;
  }
}
.about .text h2 {
  font-size: 29px;
  padding: 10px;
  margin-top: 17px;
  color: var(--main-color);
}
.about .text p {
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 35px;
  color: white;
  font-size: 22px;
}
@media (max-width:767px) {
  .about .text p{
    padding-right: 23px;
  }
  
}
.Testimonials {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../imags/image-04.jpg);
}
.Testimonials .row {
  padding: 50px;
}
@media (max-width: 767px) {
  .row > * {
    margin-bottom: 15px;
  }
}

.Testimonials .one {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.Testimonials .two {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.Testimonials .three {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.Contact {
  padding-bottom: 700px;
  background-image: url(../imags/image-05.jpg);
  background-size: cover;
}
.Contact .row .form {
  position: absolute;
  right: 69px;
  padding: 120px 62px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .Contact .row .form {
    position: absolute;
    right:27px;
    padding: 160px 40px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.Contact .row .form h2 {
  color: #fdff73;
  font-size: 40px;
  margin-bottom: 22px;
  margin-top: -25px;
}
.Contact .row .form .t {
  margin-bottom: 30px;
  padding: 10px 65px;
  border: 2px solid #404076;
}
.Contact .row .form .t:focus {
  outline: none;
}
.Contact .row .form .u {
  padding: 29px 73px;
  margin-bottom: 30px;
}
.Contact .row .copy {
  position: relative;
}
.Contact .row .copy p {
  top: 651px;
  position: absolute;
  color: white;
  font-size: 16px;
  padding: 7px;
  left: -29px;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .Contact .row .copy p {
    top: 630px;
    position: absolute;
    color: white;
    font-size: 16px;
    padding: 7px;
    left: 27px;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
